/* IE10 viewport hack for Surface/desktop Windows 8 bug */

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

.wrapper {
	margin-top: 50px;
}
