$squareSize: 10vw;

body {
  line-height: 0;
}

.square {
	height: $squareSize;
	width: $squareSize;
	//margin: 0.2vw 0.2vw 0 0.2vw;
	//background-color: blue;
	display: inline-flex;
}

.square-holder {
  width: 40vw;
}
