$bar-color: rgba(34, 34, 34, 1);
$bar-height: 50px;
$bar-text-color: rgba(157, 157, 157, 1);

body {
  padding-bottom: $bar-height;
}

.wrapper {
	margin-top: $bar-height;
}

.navbar-brand.active {
	color: #fff;
	background-color: #080808;
}

.navbar-fixed-bottom {
  background-color: $bar-color;
}

.navbar-fixed-bottom > .container > p {
  color: $bar-text-color;
  margin-top: 1em;
}
