$bar-color: rgba(34, 34, 34, 1);
$bar-text-color: rgba(157, 157, 157, 1);

.wrapper {
	margin-top: 50px;
}

.navbar-brand.active {
	color: #fff;
	background-color: #080808;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: $bar-color;
}

.footer > .container > p {
  color: $bar-text-color;
  margin-top: 1em;
}
